//Primary Colors
$color-primary: #ffffff;

//Secondary Colors
$text-black: #434343;
$color-dark: #a02279;
$color-darker: #1d1d1e;
$black: #000000;
$color-border: #b4b4b4;
$color-btn-border: #cfd8dc;
$color-background: #f8f9fa;

//Font-family
$font-secondary: 'Red Rose', sans-serif;

//Font-weight
$font-weight-large: 700;
$font-weight-small: 500;
$font-weight-smaller: 400;

//Breakpoints
$breakpoint-small: 31.25em; //500px
$breakpoint-mid: 43.75em; //700px
$breakpoint-medium: 50em; //800px
$breakpoint-unique: 56.25em; //900px
$breakpoint-large: 62.5em; //1000px
$breakpoint-larger: 68.75em; //1100px

//Mixins
@mixin widthStyle {
  width: min(90%, 76.31rem);
  margin-inline: auto;
}
