@use 'GlobalStyles/variable.scss' as *;

//NAVBAR
.navbar {
  margin-top: 2.68rem;
}

.navigation {
  @include widthStyle;
  display: flex;
  //margin-inline: 6.25rem;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 14rem;

    @media only screen and (max-width: $breakpoint-small) {
      width: 8rem;
    }
  }

  & > ul {
    display: flex;
    gap: 3vw;

    & > li {
      list-style-type: none;
    }
  }
}

.navlink {
  display: block;
  text-decoration: none;
  font-size: 1.25rem;
  color: inherit;
  transition: all ease-out 0.2s;

  @media only screen and (max-width: $breakpoint-larger) {
    display: none;
  }

  &:hover {
    color: $color-dark;
  }
}

.btn {
  background-color: $color-dark;
  color: $color-primary;
  border-radius: 0.62rem;
  padding: 0.93rem 1.68rem;
  border: none;
  transition: all ease-in 0.2s;

  @media only screen and (max-width: $breakpoint-larger) {
    display: none;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.menu {
  display: none;

  @media only screen and (max-width: $breakpoint-larger) {
    display: block;
  }
}

//FOOTER SECTION

.footerWrapper {
  background-color: $black;
  padding-block: 3.6rem 2.3rem;
}

.footer {
  color: $color-primary;
  @include widthStyle;

  &__socialIcons {
    display: flex;
    gap: 0.9rem;
    height: 1rem;

    @media only screen and (min-width: $breakpoint-medium) {
      margin-top: -3rem;
      gap: 2.5rem;
    }
  }

  &__links {
    //width: min(90%, 43.6rem);

    @media only screen and (min-width: $breakpoint-medium) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      //justify-self: end;

      & > p:first-child,
      :nth-child(2),
      :nth-child(3) {
        margin-bottom: 1rem;
        font-weight: $font-weight-large;
      }
    }

    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    p {
      transition: all ease-in 0.3s;
      cursor: pointer;

      &:hover {
        color: $color-dark;
      }
    }
  }

  &__icons > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.footerLogo {
  @media only screen and (max-width: $breakpoint-small) {
    width: 8rem;
  }
}

.copyright {
  display: flex;
  gap: 0.5rem;

  @media only screen and (min-width: $breakpoint-medium) {
    grid-row: 3 / 4;
  }
}

.footer__icons {
  @media only screen and (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 10rem auto auto;
    grid-column-gap: 11vw;
  }
}
